@model ReviewProj.WebUI.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}


<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />

<div>
    <h1>
        <img src="@Url.Action("Photo")" style="width:160px;height:160px; background: #FFFFFF;
         margin: auto;
        -moz-border-radius: 60px;
        border-radius: 100px;
        padding: 6px;
        box-shadow: 0px 0px 20px #888;" />
    </h1>

    <div class="btn-group">
        @if (Model.HasPhoto)
        {
            @Html.ActionLink("Change", "AddPhoto", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Remove", "DeletePhoto", null, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink(Resources.Resource.AddPhotoKey, "AddPhoto", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>



<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        @if (Model.Nationality == null)
        {
            <dd>@Resources.Resource.NotSpecifiedKey</dd>
        }
        else
        {
            <dd>@Html.DisplayFor(model => model.Nationality)</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Model.BirthDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
    <p class="btn-group btn-group-justified" top-padding="20px">
        @Html.ActionLink(Resources.Resource.ChangePasswordKey, "ChangePassword", "Manage", null, new { @class = "btn btn-primary" })
        @Html.ActionLink(Resources.Resource.EditKey, "EditProfile", null, new { @class = "btn btn-primary" })
    </p>
</div>
