@model ReviewProj.Models.ProfileViewData

@{
    ViewBag.Title = "Index";
}

<div>
    <h1>
        <img src="@Url.Action("UserPhotos", "ProfileView" )" style="width:160px;height:160px; background: #FFFFFF;
         margin: auto;
        -moz-border-radius: 60px;
        border-radius: 100px;
        padding: 6px;
        box-shadow: 0px 0px 20px #888;" />
    </h1>

    [
    @if (Model.HasPhoto)
            {
        @Html.ActionLink("Change", "AddPhoto")
        @Html.Label(" | ")
        @Html.ActionLink("Remove", "DeletePhoto")
    }
    else
    {
        @Html.ActionLink("Add Photo", "AddPhoto")
    }
    ]
</div>



<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.IsBanned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBanned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>


        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
