@using ReviewProj.WebUI.Models;
@using ReviewProj.Domain.Entities
@model ReviewProj.WebUI.Models.Enterprise1

@{
    ViewBag.Title = "DetailsEnterprise";
}

<h2>DetailsEnterprise</h2>

<dd>
    <h4>Enterprise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd>[@Html.ActionLink("New", "AddContact")]</dd>
        @foreach (var item in Model.Contacts)
        {
            if (item.EmailOrPhone != "deleted")
            {
            <dd>
                @Html.DisplayFor(model => item.EmailOrPhone)
                @Html.ActionLink("Edit", "EditContact", new { idCont = item.ContactId }) |
                @Html.ActionLink("Delete", "DeleteContact", new { idCont = item.ContactId })
            </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>



    </dl>
    <table class="table">
        <tr>
            <th></th>
        </tr>
@if (Model.Resources != null)
{
    foreach (var item in Model.Resources)
    {
        if (item.Type == ResourceType.MainImage)
        {
            string imgSrc = "~/Content/UserResources/" + @item.DataPath;
            <tr>
                <td>
                    <!-- <div style="background-image:url( data:image/jpeg;base64,Convert.ToBase64String(item.Data) )"><</div>-->
                   MAIN
                    <a target="_blank" href="@Url.Content(imgSrc)">
                        <img class="thumbnail" src="@Url.Content(imgSrc)" height="100" width="100">
                    </a>
                    @Html.ActionLink("Delete Photo", "DeletePhoto", new { ID = item.ResourceId })
                </td>
            </tr>
            break;
        }
    }
    foreach (var item in Model.Resources)
    {
        if (item.Type == ResourceType.SecondaryImage)
        {
            string imgSrc = "~/Content/UserResources/" + @item.DataPath;
            <tr>
                <td>
                    <!-- <div style="background-image:url( data:image/jpeg;base64,Convert.ToBase64String(item.Data) )"><</div>-->

                    <a target="_blank" href="@Url.Content(imgSrc)">
                        <img class="thumbnail" src="@Url.Content(imgSrc)" height="100" width="100">
                    </a>
                    @Html.ActionLink("Delete Photo", "DeletePhoto", new { ID = item.ResourceId })
                    @Html.ActionLink("Appoint Main", "AppointMain", new { ID = item.ResourceId })
                </td>
            </tr>
           
        }
    }
}

    </table>

<p>
        @Html.ActionLink("Edit", "EditRestData", "Owner1", null, new { @class = "btn btn-default" })
        @Html.ActionLink("AddPhoto", "AddPhoto", "Owner1", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to List", "EnterprisesList", "Owner1", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Save change", "SaveChange", "Owner1", null, new { @class = "btn btn-default" })
    </p>
