@model ReviewProj.WebUI.Models.OwnerView

@{
    ViewBag.Title = "ProfileOwner";
}


<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
<h2>Profile</h2>

<div>
    <h4>OwnerView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HasPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enterprises)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountEnterprises)
        </dd>


    </dl>
</div>

<p>
    @Html.ActionLink("мої заклади", "EnterprisesList", null, new { @class = "btn btn-primary" })
</p>