@model IEnumerable<ReviewProj.WebUI.Models.Image>
@{
    ViewBag.Title = "RegistPart3";
}

<h2>Add Photos</h2>

<p>
    @Html.ActionLink("Create New", "AddPhoto")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
              <!-- <div style="background-image:url( data:image/jpeg;base64,Convert.ToBase64String(item.Data) )"><</div>--> 
                <img src="@Url.Action("GetChoosedPhotos", "RegisterEnterprise",new { ID = item.imageId} )" height="48" width="48" />
                @Html.ActionLink("Delete Photo", "DeletePhoto", new { ID = item.imageId })
            </td>
        </tr>
    }


</table>
@Html.ActionLink("Back", "RegistPart2", "RegisterEnterprise", null, new { @class = "btn btn-default" })
@Html.ActionLink("New Photo", "AddPhoto", null, new { @class = "btn btn-default" })
@Html.ActionLink("Next", "RegistPart4", "RegisterEnterprise", null, new { @class = "btn btn-default" })