@model IEnumerable<System.String>

@{
    ViewBag.Title = "RegistPart2";
}

<h2>Add Contacts</h2>

<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />

<p class="btn-group-justified">
    @Html.ActionLink("Add New Contact", "AddContacts", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item)
            </td>
            <td>
                <p class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { itemName = item }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { itemName = item }, new { @class = "btn btn-primary btn-xs" })
                </p>
            </td>
        </tr>
    }


</table>
<p class="btn-group-justified">
    @Html.ActionLink("next", "RegistPart3", null, new { @class = "btn btn-primary" })
</p>