@*@{
		ViewBag.Title = "About";
	}
	<h2>@ViewBag.Title.</h2>
	<h3>@ViewBag.Message</h3>

	<p>Use this area to provide additional information.</p>*@
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive center-block" src="~/Content/AppResources/df2ecedf2f1f43f3ccdebc4a9ea3dc82.jpg" alt="">
			</div>
			<div class="col-sm-6">
				<h2 class="section-header">@Resources.Resource.AboutHeaderKey</h2>
				<p class="lead text-muted">
					<br />
					@Resources.Resource.AboutFirstPharKey
					<br />
					<br />
					<br />
					@Resources.Resource.AboutSecondPharKey
					<br />
					<br />
					<br />
					@Resources.Resource.AboutThirdPharKey
				</p>

			</div>

		</div>
	</div>
</section>
