@using ReviewProj.Domain.Entities
@using ReviewProj.WebUI.Models
@model ReviewProj.WebUI.Models.EnterpriseListViewModel
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/index_style.css" type="text/css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />

<!--<h2 class="collection-title">Top Institutions</h2> -->


<div id="IndexSearch">
    @using (Html.BeginForm())
    {
        @Html.TextBox("Search", Model.SearchString)
        <input type="hidden" name="page" value="1" />
        <input type="submit" name="search" value="Search" />
    }
</div>

<div id="IndexWrapper">
    <div id="Category">
        <h4>Rating</h4>
        @foreach (string str in Model.AvailableCategories)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="SelectedFruits"
                           value="@str" />
                    @str
                </label>
            </div>
        }
    </div>

    <div id="Collections">

        @foreach (Enterprise ent in Model.Enterprises)
        {
            <div class="collection-item-outer">
                <div class="collection-item">
                    <h4 class="institution-title">
                        <a href="/InstitutionDetails/Index/@ent.EntId">@ent.Name</a>
                    </h4>

                    <!-- Picture -->
                    @try
                    {
                        Resource res = ent.Resources.First(r => r.Type == ResourceType.MainImage);
                            <img height="120" src="~/Content/UserResources/@res.DataPath" />
                    }
                    catch
                    {
                        <img height="120" src="~/Content/AppResources/no_image_available.png" />
                    }   

                    <div class="collection-text">
                        <p>
                            @ent.Description
                        </p>
                        <button>Read more</button>
                    </div>
                </div>
            </div>
        }
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, search = Model.SearchString }))
        </div>
    </div>
</div>
